.accordion-button {
    background-color: rgb(255, 255, 255) !important;
    width: 100%;
    /* margin-left: 10%; */
    margin-bottom: 2%;
    border:  rgb(255, 255, 255) !important;
  }
  
  .accordion-button:focus {
    box-shadow: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: #000000;
  }



